<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://usecase-1-fromgithub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>61a396cb-843c-496a-b1e0-729d3918b4bd</ProjectGuid>
    <PublishUrl>https://usecase-1-fromgithub.scm.azurewebsites.net/</PublishUrl>
    <UserName>$usecase-1-fromgithub</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>